# Credentials
code/.app_keys.json

# Python
__pycache__/
code/.ipynb_checkpoints

# Latex
*.aux
*.pdf
*.loa
*.log
*.thm
*.toc
*.lof
*.fdb_latexmk
*.fls
*.bbl
*.blg
*.synctex.gz
*.latexmain
*.run.xml
*.bcf
*.out
*.snm
*.nav

# OS / other
.DS_Store
.idea
code/.vscode/*
